@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom container width */
@media (min-width: 1280px) {
  .container {
    max-width: 1040px;
  }
}

@media (min-width: 2200px) { 
  .safe-area { 
    padding-left: 25%; 
    padding-right: 25%; 
  } 
} 

@media (min-width: 1560px) and (max-width: 2199px) { 
  .safe-area { 
    padding-left: 20%; 
    padding-right: 20%; 
  } 
} 

@media (min-width: 1024px) and (max-width: 1559px) { 
  .safe-area { 
    padding-left: 12%; 
    padding-right: 12%; 
  } 
} 

@media (min-width: 769px) and (max-width: 1023px) { 
  .safe-area { 
    padding-left: 6rem; 
    padding-right: 6rem; 
  } 
} 

.safe-area { 
  padding-left: 1.2rem; 
  padding-right: 1.2rem; 
} 

.py-4 { 
  padding-top: 1rem; 
  padding-bottom: 1rem; 
}
